<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <!--语言设置，如“zh-CN”、“en-US”、“”等-->
  <Culture>zh-CN</Culture>
  <CtrlParameter>
    <IPAdder>192.168.0.11</IPAdder>
    <McuAtype>0</McuAtype>
    <TrackBarvalue1>0</TrackBarvalue1>
    <TrackBarvalue2>0</TrackBarvalue2>
    <TrackBarvalue3>0</TrackBarvalue3>
    <MotorPara type="AxisX">
      <Type>7</Type>
      <Units>3200</Units>
      <EncodeUnits>3200</EncodeUnits>
      <!--轴起始速度（同时用于停止速度）-->
      <LSpeed>0</LSpeed>
      <Speed>4</Speed>
      <Accel>500</Accel>
      <Decel>500</Decel>
      <!--爬行速度-->
      <CReep>3</CReep>
      <!--加减速过程曲线设置-->
      <SRamp>0</SRamp>
      <ExtraZerodis>0</ExtraZerodis>
      <Homemode>4</Homemode>
      <Axisname>X</Axisname>
      <Revlimit>-10000</Revlimit>
      <Fwdlimit>10000</Fwdlimit>
      <CompensateEable>false</CompensateEable>
    </MotorPara>
    <MotorPara type="AxisY">
      <Type>7</Type>
      <Units>3200</Units>
      <EncodeUnits>3200</EncodeUnits>
      <!--轴起始速度（同时用于停止速度）-->
      <LSpeed>0</LSpeed>
      <Speed>4</Speed>
      <Accel>500</Accel>
      <Decel>500</Decel>
      <!--爬行速度-->
      <CReep>3</CReep>
      <!--加减速过程曲线设置-->
      <SRamp>0</SRamp>
      <ExtraZerodis>0</ExtraZerodis>
      <Homemode>4</Homemode>
      <Axisname>Y</Axisname>
      <Revlimit>-1000</Revlimit>
      <Fwdlimit>1000</Fwdlimit>
      <CompensateEable>false</CompensateEable>
    </MotorPara>
    <MotorPara type="AxisZ">
      <Type>7</Type>
      <Units>1667</Units>
      <EncodeUnits>1000</EncodeUnits>
      <!--轴起始速度（同时用于停止速度）-->
      <LSpeed>0</LSpeed>
      <Speed>5</Speed>
      <Accel>500</Accel>
      <Decel>500</Decel>
      <!--爬行速度-->
      <CReep>3</CReep>
      <!--加减速过程曲线设置-->
      <SRamp>0</SRamp>
      <ExtraZerodis>0</ExtraZerodis>
      <Homemode>4</Homemode>
      <Axisname>Z</Axisname>
      <Revlimit>-10000</Revlimit>
      <Fwdlimit>10000</Fwdlimit>
      <CompensateEable>false</CompensateEable>
    </MotorPara>
    <MotorPara type="AxisA">
      <Type>7</Type>
      <Units>4000</Units>
      <EncodeUnits>4000</EncodeUnits>
      <!--轴起始速度（同时用于停止速度）-->
      <LSpeed>0</LSpeed>
      <Speed>3</Speed>
      <Accel>500</Accel>
      <Decel>500</Decel>
      <!--爬行速度-->
      <CReep>3</CReep>
      <!--加减速过程曲线设置-->
      <SRamp>0</SRamp>
      <ExtraZerodis>0</ExtraZerodis>
      <Homemode>4</Homemode>
      <Axisname>A</Axisname>
      <Revlimit>-100000</Revlimit>
      <Fwdlimit>100000</Fwdlimit>
      <CompensateEable>false</CompensateEable>
    </MotorPara>
    <MotorPara type="AxisRx">
      <Type>7</Type>
      <Units>2500</Units>
      <EncodeUnits>2500</EncodeUnits>
      <!--轴起始速度（同时用于停止速度）-->
      <LSpeed>0</LSpeed>
      <Speed>10</Speed>
      <Accel>2000</Accel>
      <Decel>2000</Decel>
      <!--爬行速度-->
      <CReep>2</CReep>
      <!--加减速过程曲线设置-->
      <SRamp>0</SRamp>
      <ExtraZerodis>0</ExtraZerodis>
      <Homemode>4</Homemode>
      <Axisname>Rx</Axisname>
      <Revlimit>-1000</Revlimit>
      <Fwdlimit>1000</Fwdlimit>
      <CompensateEable>false</CompensateEable>
    </MotorPara>
    <MotorPara type="AxisRy">
      <Type>7</Type>
      <Units>2500</Units>
      <EncodeUnits>2500</EncodeUnits>
      <!--轴起始速度（同时用于停止速度）-->
      <LSpeed>0</LSpeed>
      <Speed>10</Speed>
      <Accel>2000</Accel>
      <Decel>2000</Decel>
      <!--爬行速度-->
      <CReep>2</CReep>
      <!--加减速过程曲线设置-->
      <SRamp>0</SRamp>
      <ExtraZerodis>0</ExtraZerodis>
      <Homemode>4</Homemode>
      <Axisname>Ry</Axisname>
      <Revlimit>-1000</Revlimit>
      <Fwdlimit>1000</Fwdlimit>
      <CompensateEable>false</CompensateEable>
    </MotorPara>
    <MotorPara type="AxisRz">
      <Type>7</Type>
      <Units>3200</Units>
      <EncodeUnits>3200</EncodeUnits>
      <!--轴起始速度（同时用于停止速度）-->
      <LSpeed>0</LSpeed>
      <Speed>2</Speed>
      <Accel>300</Accel>
      <Decel>300</Decel>
      <!--爬行速度-->
      <CReep>2</CReep>
      <!--加减速过程曲线设置-->
      <SRamp>0</SRamp>
      <ExtraZerodis>0</ExtraZerodis>
      <Homemode>4</Homemode>
      <Axisname>Rz</Axisname>
      <Revlimit>-1000</Revlimit>
      <Fwdlimit>1000</Fwdlimit>
      <CompensateEable>false</CompensateEable>
    </MotorPara>
    <MotorPara type="AxisRa">
      <Type>1</Type>
      <Units>4850</Units>
      <EncodeUnits>4850</EncodeUnits>
      <!--轴起始速度（同时用于停止速度）-->
      <LSpeed>0</LSpeed>
      <Speed>4</Speed>
      <Accel>150</Accel>
      <Decel>500</Decel>
      <!--爬行速度-->
      <CReep>0.2</CReep>
      <!--加减速过程曲线设置-->
      <SRamp>0</SRamp>
      <ExtraZerodis>0</ExtraZerodis>
      <Homemode>4</Homemode>
      <Axisname>Ra</Axisname>
      <Revlimit>-1000</Revlimit>
      <Fwdlimit>1000</Fwdlimit>
      <CompensateEable>false</CompensateEable>
    </MotorPara>
  </CtrlParameter>
</Configuration>